.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading {
  text-align: center;
}

.input {
  width: 450px;
  height: 40px;

}

.inout {
  text-align: center;
  padding: 40px;
  text-shadow: #282c34;
  text-transform: lowercase;
  text-overflow: clip;
  
}

.btn {
  width: 140px;
}

.btnout {
  text-align: center;
  text-shadow: #61dafb;
}
h1{
  padding-top: 200px;
}